.servicesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.serviceTab {
    border-top: 1px solid #adacac;
    height: 100%;
    padding: 1rem 0.5rem;
}
.serviceTab:hover{
    background-color: #adacac4b;
        
}